:root {
    --primary-300: #f8b572;
    --primary-500: #fe9832;
    --color-text: #a39a8b;
    --black-50: #fcf3e2;
    --black-50-2: #e5dccb;
    --black-100: #e5dccb;
    --black-200: #cec5b5;
    --black-300: #b8b0a0;
    --black-400: #a39a8b;
    --black-700: #655d4f;
    --black-900: #2c271f;
    --background-dark: #1e1a12;
    --background-light: #fffdfa;
    --dark: #1e1a12;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-dark);
    color: var(--color-text);
}

h1 {
    font-family: 'Roboto Slab', serif; 
    font-size: 2.5em;
    font-weight: 700;
    color: var(--primary-500);
}

button {
    background-color: var(--primary-300);
    color: var(--background-dark);
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid var(--black-200);
}

th {
    background-color: var(--black-300);
    color: var(--background-light);
}

td {
    background-color: var(--background-light);
    color: var(--color-text);
}

.homepage__hero_animation {
    position: absolute;
    top: 20%; 
    left: -20%; 
    width: 50%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

img[src='assets/doyensec-logo.svg'] {
    width: 150px; 
    margin-top: 10px; 
    display: block;
}

.logo-title {
    display: flex; 
    align-items: center;
}

.login-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-title img, .logo-title h1 {
    margin-right: 10px;
}

.os-icon, 
.browser-icon {
  position: relative;
  width: 20px;
  height: 20px;
}

.icon-wrapper {
  position: relative;
  display: inline-block;
}
  
.tooltip {
  visibility: hidden;
  width: 180px;
  background-color: var(--primary-500);
  color: var(--background-light);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}
  
.icon-wrapper:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}

#login-form input[type="text"],
#login-form input[type="password"] {
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: var(--primary-300);
    color: var(--background-dark);
}

#login-form .ports {
    display: flex;
    justify-content: space-between;
}

#login-form .ports div {
    display: flex;
    flex-direction: column;
}

#login-form .ports input {
    width: 90px;
    margin: 0 5px;
}

.submit-button {
    background-color: var(--primary-500);
    color: var(--background-dark);
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#logout-button {
    float: right;
  }


  #login-form input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 37px;
    height: 37px;
    background: var(--primary-300);
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    position: relative;
}

#login-form input[type="checkbox"]:checked:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 27px;
    height: 27px;
    background: var(--background-dark);
    border-radius: 2px;
    transform: translate(-50%, -50%);
}




